/* Mahmoud Eslam Mahmoud ElTohamy */

*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



/* header */

header{
    background-color: #bdd7ee;
    display: flex;
    height: 30px;
    align-items: center;
}

h1{
    margin-left: 20px ;
    font-size: 20px;
}

ul{
    list-style-type: none;
    color: #1b53b0;
    display: flex;
    margin-left: 20px;
}

li{
    display: flex;
    margin: 10px;
    height:30px;
    display: flex;
    align-items: center;
}

li a {
    text-decoration: none;
}

a{
    color: #1b53b0;
}


li a:hover,
li:hover{
    background-color:#1b53b0;
    color:white;
}


/* form */

section{
    width: 27%;
    height: 45%;
    margin: 150px auto;
    background-color: #bdd7ee;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1b53b0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

form{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    font-size: small;
}

.txt{
    background-color: #e0e9f6;
    border: 1px solid #1b53b0;
    width: 200px;
    height: 30px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

label{
    width: 200px;
    font-family: monospace;
}

form label input a{
    font-family: monospace;
}

.sub{
    width: 90px;
    height: 30px;
    margin-top: 10px;
    background-color: #e0e9f6;
    color: #1b53b0;
    border: 1px solid #1b53b0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

::placeholder{
    color: #1b53b0;
    opacity: 50%;
    text-align: center;
}

.txt:focus{
    outline: none;
    border: 1px solid rgb(223, 34, 34)
}


/* footer */

footer{
    background-color: #1b53b0;
    height: 30px;
    width: 100%;
    padding: 10px;
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
}
